@import "../../style/index.scss";

.nav {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  z-index: 10;
}

.nav.sticky {
  position: sticky;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
