$light_purple: #fcf2ff; // Orchid
$purple: #6223be; // Vivid Purple
$vivid_green: rgb(0, 255, 0); // Vivid green
$main_green: #00ba56; // Main green
$red_pastel: #ff0058; // Red pastel
$background: #f7f8f8; // Main background
$grey: #00000029;
